[submodule "matplotplusplus"]
	path = matplotplusplus
	url = https://github.com/alandefreitas/matplotplusplus/
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "Catch2"]
	path = Catch2
	url = git@github.com:catchorg/Catch2.git
